<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý hợp đồng</title>
    <object th:include="fragments/head :: head" th:remove="tag"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<table>
    <tr>
        <td>ID</td>
        <td>Tên hợp đồng</td>
        <td>Ngày bắt đầu</td>
        <td>Ngày kết thúc</td>
        <td>Ngày ký</td>
        <td>100</td>
        <td>110</td>
        <td>Loại hợp dồng</td>
        <td>Trạng thái</td>
        <td></td>
    </tr>
    <tr th:each="contract : ${session.listContract}">
        <td th:text="${contract.getId()}"></td>
        <td th:text="${contract.getContractName()}"></td>
        <td th:text="${contract.getStartDate()}"></td>
        <td th:text="${contract.getEndDate()}"></td>
        <td th:text="${contract.getSignDay()}"></td>
        <td th:text="${contract.getTotalValueContract()}"></td>
        <td th:text="${contract.getTotalValueContractVat()}"></td>
        <td th:text="${contract.getContractType()==1?'Hợp đồng dài hạn':'Hợp đồng ngắn hạn'}"></td>
        <td th:text="${contract.getStatusPay()==1?'Đã thanh toán':'Chưa thanh toán'}"></td>
        <td><a th:href="${contract.getLinkUrl()}">View</a></td>
    </tr>
</table>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>