<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="author" content="pixelhint.com"/>
    <meta name="description" content="La casa free real state fully responsive html5/css3 home page website template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>

    <link rel='stylesheet' th:href="@{css/reset.css}" th:src="@{css/reset.css}"/>
    <!--<link rel='stylesheet'  href="css/reset.css" th:src="@{css/reset.css}"/>-->
    <link rel="stylesheet" th:href="@{css/responsive.css}" th:src="@{css/responsive.css}"/>
    <!--<link rel="stylesheet"  href="css/responsive.css" th:src="@{css/responsive.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{css/homestyle.css}" th:src="@{css/homestyle.css}"/>-->

    <script type="text/javascript" src="js/jquery.js" th:src="@{js/jquery.js}"></script>
    <script type="text/javascript" src="js/main.js" th:src="@{js/main.js}"></script>
</head>
</html>